# Amazon AWS
address=/aws.amazon.com/219.76.4.14
address=/amazonaws.com/219.76.4.14

# Facebook
address=/m.me/157.240.2.36
address=/fb.com/157.240.2.36
address=/facebook.com/157.240.2.36
address=/messenger.com/157.240.2.36
address=/fbsbx.com/157.240.2.36
address=/fbcdn.net/157.240.2.36

# Twitter
address=/twitter.com/219.76.4.14
address=/t.co/219.76.4.14
address=/twitpic.com/173.236.110.98
address=/twimg.com/219.76.4.14
address=/tweetdeck.com/104.244.45.246

# Google
address=/g.co/219.76.4.14
address=/goo.gl/219.76.4.14
address=/google.com/219.76.4.14
address=/google.org/219.76.4.14
address=/google.co/219.76.4.14
address=/gmail.com/219.76.4.14
address=/googlesciencefair.com/219.76.4.14
address=/gcr.io/219.76.4.14
address=/com.google/219.76.4.14
address=/googlegroups.com/219.76.4.14
address=/gmodules.com/219.76.4.14
address=/googlestore.com/219.76.4.14
address=/youtube.com/219.76.4.14
address=/googleblog.com/219.76.4.14
address=/blogger.com/219.76.4.14
address=/blogblog.com/219.76.4.14
address=/blogspot.com/219.76.4.14
address=/chrome.com/219.76.4.14
address=/chromium.org/219.76.4.14
address=/googlesource.com/219.76.4.14
address=/googledrive.com/219.76.4.14
address=/googleusercontent.com/219.76.4.14
address=/orkut.com/219.76.4.14
address=/gvt0.com/219.76.4.14
address=/gvt1.com/219.76.4.14
address=/googlewave.com/219.76.4.14
address=/googleapis.com/219.76.4.14
address=/ggpht.com/219.76.4.14
address=/gstatic.com/219.76.4.14
address=/googlehosted.com/219.76.4.14
address=/google-analytics.com/219.76.4.14
address=/golang.org/219.76.4.14
address=/recaptcha.net/219.76.4.14
address=/android.com/219.76.4.14
address=/withgoogle.com/219.76.4.14
address=/googleapps.com/219.76.4.14
address=/abc.xyz/219.76.4.14
address=/googlemail.com/219.76.4.14
address=/googlepages.com/219.76.4.14

# YouTube
address=/youtube.com/219.76.4.14
address=/youtu.be/219.76.4.14
address=/ytimg.com/219.76.4.14
address=/googlevideo.com/219.76.4.14

# Dropbox
address=/db.tt/219.76.4.14
address=/dropbox.com/219.76.4.14
address=/dropboxapi.com/219.76.4.14
address=/dropbox-dns.com/219.76.4.14
address=/dropboxstatic.com/219.76.4.14
address=/dropboxusercontent.com/219.76.4.14
address=/getdropbox.com/219.76.4.14

# Other
address=/imgur.com/151.101.100.193
address=/startpage.com/37.0.88.36
address=/apkpure.com/104.20.82.194
address=/pinterest.com/151.101.64.84
address=/appspot.com/219.76.4.14
